body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "head head"
        "side prime"
        "side second"
        "side foot";
    grid-template-rows: 8vh 270px 1fr 5vh;
    grid-template-columns: 30% 1fr;
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
}

/* HEAD - header CSS */
header {
    grid-area: head;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline {
    color: #f3f3f3;
    letter-spacing: 0.1em;
}

/* SIDE - Sidebar CSS */
.sidebar {
    grid-area: side;
    background-color: #f5f5f5;
}

form {
    padding-left: 20px;
    padding-top: 15px;
}

form label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Input CSS */
#search-input {
    /* border: none; */
    border-radius: 5px;
    height: 30px;
    width: 75%;
}

#search-btn {
    border-radius: 4px;
    background-color: #3069f9;
    color: #f3f3f3;
    font-size: 1em;
    padding: 6px 10px;
}

#search-btn:hover {
    background-color: #214ebf;
}

/* Search Results CSS */
ul {
    list-style: none;
    padding: 0 20px;
}

.search-results {
    background-color: #ffffff;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 2px;
    padding: 9px 10px;
}

/* PRIME - Current Weather CSS */
#current-weather {
    grid-area: prime;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    color: #2b2b2b;
    margin: 10px 0 10px 10px;
    padding-left: 20px;
}

/* SECOND - Forecast CSS */
#weather-forecast {
    grid-area: second;
    margin: 0 0 10px 10px;
    padding-left: 20px;
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e88f7;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    color: #f3f3f3;
    margin: 1%;
    min-width: 125px;
    padding: 10px;
    width: 15%;
}

.forecast-card p {
    font-size: 0.9em;
}

.forecast-card .future-date {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.forecast-card i {
    font-size: 2em;
}

.forecast-card .future-temp {
    margin-top: 20px;
    margin-bottom: 5px;
}

.forecast-card .future-humidity {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* FOOT - Footer CSS */
footer {
    grid-area: foot;
}